
.navbar-inverse{
	background:transparent;
	background-image:none;
	border-color:transparent;
	box-shadow:none;
  }

.navbar-nav {
	font-weight: bolder;
	font-size: 130%;	
}

.dropdown {
	padding-left : 25px;	
}

#dropdown {
	padding-left : 220px;
}
.dropdown a ,#dropdown a {
	color : rgba(8, 9, 119, 0.76);	
}