<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
            </div>
            <div class="panel-body">

                <form id="signupform" class="form-horizontal" role="form" [formGroup]="entryForm" (ngSubmit) = "register()" novalidate>

                    <div id="signupalert" style="display:none" class="alert alert-danger">p
                        <p>Error:</p>
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <p *ngIf = "(entryForm.get('firstname').hasError('pattern'))"> Invalid First Name </p>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        </div>
                    </div>
                    <p *ngIf = "(entryForm.get('password').hasError('pattern'))"> Invalid Password </p>

                    <div class="form-group">
                            <label for="age" class="col-md-3 control-label"> Age </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" formControlName="age" placeholder="age">
                            </div>
                     </div>
                     <p *ngIf = "(entryForm.get('age').hasError('pattern'))"> Invalid Age </p>

                     <div class="form-group">
                            <label for="phone" class="col-md-3 control-label"> Phone </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" formControlName="phone" placeholder="phone">
                            </div>
                     </div>
                      <p *ngIf = "(entryForm.get('phone').hasError('pattern'))"> Invalid Phone Number </p>

                     <div class="form-group">
                            <label for="country" class="col-md-3 control-label"> Country </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" formControlName = "country" placeholder="country">
                            </div>
                     </div>
                     <p *ngIf = "(entryForm.get('country').hasError('pattern'))"> Invalid Country </p>

                   
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Sign Up</button>
                            <span style="margin-left:8px;">or</span>
                        </div>
                    </div>

                    <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                        </div>

                    </div>



                </form>
            </div>
        </div>




    </div>